/* NOTE: Features tagged as Newly available or Limited availability in Baseline are indicated. Find all instances of "Baseline" in your text editor to see them. */

/*
TODO: Use a more dynamic way to fit the author name to the author name and photo container.

Resources
---------

https://css-tricks.com/fitting-text-to-a-container/
https://css-tricks.com/setting-line-length-in-css-and-fitting-text-to-a-container/
*/

/* Fonts */

/* Playfair Display Regular */
@font-face {
  font-family: 'Playfair Display';

  src:  local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('assets/fonts/PlayfairDisplay/subset-PlayfairDisplay-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;

  font-display: swap;
}

/* Roboto: Regular */
@font-face {
  font-family: 'Roboto';

  src:  local('Roboto Regular'), local('Roboto-Regular'),
        url('assets/fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;

  font-display: swap;
}

/* Roboto: Bold */
@font-face {
  font-family: 'Roboto';

  src:  local('Roboto Bold'), local('Roboto-Bold'),
        url('assets/fonts/Roboto/subset-Roboto-Bold.woff2') format('woff2');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

/* Roboto: Italic */
@font-face {
  font-family: 'Roboto';

  src:  local('Roboto Italic'), local('Roboto-Italic'),
        url('assets/fonts/Roboto/subset-Roboto-Italic.woff2') format('woff2');

  font-weight: normal;
  font-style: italic;

  font-display: swap;
}

/* Roboto Bold: Italic */
@font-face {
  font-family: 'Roboto';
  src:  local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('assets/fonts/Roboto/subset-Roboto-BoldItalic.woff2') format('woff2');
  
  font-weight: bold;
  font-style: italic;
  
  font-display: swap;
}

:root {
  /* (1) Fonts */

  /* (1 - A) System font stacks */

  /* Didone system font stack — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#didone */
  --display-system-font-stack: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;

  /* Neo-Grotesque system font stack — see notes at https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#neo-grotesque */
  --body-system-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  /* Native emoji support system font stack — refer to https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#emoji-support */
  --emoji-system-font-stack: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* (1 - B) Page fonts */

  --display-font: 'Playfair Display', var(--display-system-font-stack), var(--emoji-system-font-stack);
  --body-font: 'Roboto', var(--body-system-font-stack), var(--emoji-system-font-stack);

  /* (2) Colors */
  
  --brand-color-primary: #0891b2;
  --brand-color-secondary: #ffffff;

  --text-color-display: #060b04;
  --text-color-body: #575655;
  
  /* (3) Shadows */

  --box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  --text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
}

/* (A) General styles */

/* NOTE: Some of the following style rules and rulesets are based on Josh W. Comeau's custom CSS reset — refer to https://www.joshwcomeau.com/css/custom-css-reset */

* {
  /* TODO: Use a suitable value for `line-height` for headings */
  line-height: 1.5;

  /* `word-wrap` has wider browser support than its newer synonym `overflow-wrap` */
  word-wrap: break-word;

  /* Baseline 2023: Newly available */
  hyphens: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus, *:focus-visible {
  outline: none;
}

*:not(dialog) {
  margin: 0;
}

*::selection {
  background-color: var(--brand-color-primary);
  color: var(--brand-color-secondary)
}

.inverted-color-scheme::selection {
  background-color: var(--brand-color-secondary);
  color: var(--brand-color-primary);
}

/* Since all `img` and `svg` elements are not rendered in inline layout (see below), they are not underlined along with link text. */

a:not(:is(.icon, .icon-with-text)) {
  text-decoration: underline solid;
  color: var(--brand-color-primary);

  font-weight: bold;
}

a.icon, a.icon-with-text {
  color: inherit;

  text-decoration: none;
}

a:not(:is(.icon, .icon-with-text)):hover, a:not(:is(.icon, .icon-with-text)):focus-visible {
  text-decoration: underline dotted;
}

a.icon:focus-visible, a.icon-with-text:focus-visible {
  outline: 2px solid var(--brand-color-primary);

  outline-offset: 2px;
}

.inverted-color-scheme a.icon:focus-visible, .inverted-color-scheme a.icon-with-text:focus-visible {
  outline-color: var(--brand-color-secondary);
}

a.icon-with-text:hover, a.icon-with-text:focus-visible {
  text-decoration: underline solid;
}

address {
  /* The default value of `font-style` for `address` elements is `italic` */
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-font);
  color: var(--text-color-display);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.125em;
}

/* TODO: Define `font-size` value for `h4`, `h5` and `h6` elements. */

/* `max-inline-size` is used here to control the line lengths of paragraphs */

p {
  font-family: var(--body-font);
  color: var(--text-color-body);

  max-inline-size: 75ch;
}

#page-main p {
  font-size: 0.85em;
}

p.project-description {
  max-inline-size: 40ch;
}

/* `@supports` at-rule used to prevent Microsoft Edge DevTools extension for Visual Studio Code from giving warnings (LOL) */
@supports (text-wrap: balance) and (text-wrap: pretty) {
  /* Baseline 2024: Newly available */

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}

img, canvas, picture, svg, video {
  display: block;

  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  background-color: var(--brand-color-secondary);

  padding-bottom: 16px;
}

section > * {
  width: 100%;
}

.section-title {
  --section-title-margin-bottom: 16px;

  margin-bottom: var(--section-title-margin-bottom);
}

.author-links {
  display: flex;

  align-items: center;

  column-gap: 16px;

  margin-top: calc(0.4 * var(--section-row-gap));
}

#page-header .author-links {
  justify-content: end;

  column-gap: 36px;
}

#page-header .author-links > * {
  transform: scale(1.5);
}

#page-footer .author-links {
  justify-content: start;

  column-gap: 108px;
}

#page-footer .author-links > * {
  transform: scale(3);
}

/* Renders text with anti-aliasing — refer to https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#anti-aliasing */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: Create animations. */

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  display: grid;

  /* TODO: Check if there is a better rule that achieves the same result. */
  height: 100vh;

  font-family: var(--body-font);
  font-size: clamp(1rem, calc(0.5rem + 1.5vw), 1.75rem);

  background-color: var(--brand-color-secondary);
  color: var(--text-color-body);
}

.inverted-color-scheme, .inverted-color-scheme * {
  background-color: var(--brand-color-primary);
  color: var(--brand-color-secondary);
}

#author-name-and-photo, #about-me, .project-card {
  box-shadow: var(--box-shadow);
}

#author-name {
  text-shadow: var(--text-shadow);
}

body > * {
  --padding-top: 64px;

  --padding-left: calc(1.5 * var(--padding-top));
  --padding-right: calc(0.95 * var(--padding-left));

  padding-top: var(--padding-top);
  padding-bottom: calc(0.85 * var(--padding-top));

  padding-left: var(--padding-left);
  padding-right: calc(0.95 * var(--padding-left));
}

/* (B) Header styles */

#page-header {
  display: flex;

  justify-content: center;
  align-items: center;

  /* TODO: Adjust the width and height across all viewport widths (from 320px to 1920px). */

  /* Defined here instead of under `#author-name-and-photo` to make it visible to all children of `#page-header` */
  --author-name-and-photo-width: clamp(250px, 35vw, 530px);

  position: relative;
  isolation: isolate;
}

#page-header::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--brand-color-primary);

  transform-origin: bottom left;
  transform: skewY(-15deg);
}

#author-name-and-photo {
  position: relative;
  isolation: isolate;

  width: var(--author-name-and-photo-width);

  container: author-name-and-photo / inline-size;
}

#author-name {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  color: var(--brand-color-secondary);

  text-align: center;

  /* Baseline: Limited availability */
  -webkit-user-select: none;
  user-select: none;

  font-size: 13cqw;
}

#author-photo {
  aspect-ratio: 10 / 11;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* TODO: Prevent the about me section from having a greater height than the header image. */

#about-me {
  --about-me-padding-top: 56px;
  --about-me-padding-left: 27px;

  padding-top: var(--about-me-padding-top);
  padding-bottom: calc(0.5 * var(--about-me-padding-top));

  padding-left: var(--about-me-padding-left);
  padding-right: calc(2 * var(--about-me-padding-left));

  width: calc(100% - var(--author-name-and-photo-width));
}

#about-me .section-footer {
  margin-top: 54px;
}

/* Tablet styles */
@media (600px <= width < 1200px) {
  body > * {
    --padding-top: 40px;

    /* The left and right paddings have not been increased, so as to maintain enough width for the "about me" section, preventing its title from breaking. */
    /* The left and right paddings are made equal to each other, unlike in the design file where the right margin is wider than the left. */

    /* The following variables have been defined here, as they are needed for styles outside the "about me" section. */
    --about-me-margin-top: 3em;
    --about-me-margin-left: calc(var(--about-me-margin-top) / 2.1);

    --author-name-photo-scale: 1.05;

    padding-left: calc((var(--padding-left) - var(--about-me-margin-left)) * var(--author-name-photo-scale));
    padding-right: calc(var(--padding-right) * var(--author-name-photo-scale));
  }

  #page-header, #page-header > * {
    /* When the header and/or the "about me" section has/have a flexbox or grid layout, `float: left` and margins on `div#author-name-and-photo` do not produce the desired results. */
    display: block;
  }

  #author-name-and-photo {
    /* TODO: Find out the reason why text in the "about me" section is inside the margin by about `0.75ch`. */
    /* TODO: Find out the reason why floated elements have extra space between them and the text below. */

    float: left;
    margin-right: calc(16px * var(--author-name-photo-scale) + 0.75ch);
    margin-bottom: 16px;

    transform: scale(var(--author-name-photo-scale));
  }

  #author-name {
    /* TODO: Find a better way to define the font size and the value of `top`. */

    position: absolute;
    top: -0.1em;
    left: calc(100% - 1ch);

    width: max-content;
    height: max(min-content, var(--about-me-margin-top));

    font-size: 2.5em;
  }

  #about-me {
    width: 100%;

    margin-top: var(--about-me-margin-top);
    margin-left: var(--about-me-margin-left);
  }

  #about-me .section-title {
    text-align: center;
  }

  #about-me .section-footer {
    /* In the design file for the tablet layout, the header author links are hidden but their space in the layout still exists. */
    visibility: hidden;
  }
}

/* (C) Main styles */

/* TODO: Find a way to occupy the empty grid cells. */

#page-main {
  margin-bottom: 64px;
}

#my-work > .section-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));

  gap: 56px 48px;
}

.project-image {
  /* At some viewport widths the width of the project details part is greater than the width of the image, leaving a white space on the right side of the image. */
  width: 100%;
}

.project-details {
  padding: 20px 28px 84px 32px;
}

.project-title-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.project-links {
  display: grid;
  grid-auto-flow: column;

  place-items: center;

  column-gap: 12px;

  transform: scale(1.1);

  color: var(--text-color-display);
}

@media (width < 600px) {
  .section-title {
    text-align: center;

    margin-bottom: calc(var(--section-title-margin-bottom / 2));
  }

  #page-header .author-links {
    column-gap: 16px;
  }

  #page-header .author-links > * {
    transform: scale(1);
  }

  #page-header .author-links, #page-footer .author-links {
    justify-content: center;
  }

  #page-footer .author-links {
    column-gap: 48px;
  }

  #page-footer .author-links > * {
    transform: scale(1.5);
  }

  body {
    row-gap: 64px;
  }

  body > * {
    padding: 12px 16px;
  }

  #page-header {
    display: flex;
    flex-direction: column;

    row-gap: 24px;

    --author-photo-aspect-ratio-w: 5;
    --author-photo-aspect-ratio-h: 8;

    --author-photo-aspect-ratio: var(--author-photo-aspect-ratio-w) / var(--author-photo-aspect-ratio-h);
    --author-photo-ratio: calc(var(--author-photo-aspect-ratio));
  }

  #page-header::before {
    height: calc( var(--author-name-and-photo-width) / var(--author-photo-ratio) );
  }

  #author-name-and-photo {
    float: initial;

    aspect-ratio: var(--author-photo-aspect-ratio);
  }

  #author-name {
    /* TODO: Find a way to make the author name centered within the author name and photo container. */

    width: 100%;

    text-align: start;

    font-size: 2.85em;
  }

  #about-me {
    padding: 0;

    width: 100%;

    box-shadow: none;
  }

  #about-me .section-footer {
    margin-top: 16px;
  }
}
